.root {
  width: 100%;
  padding: 8px;
  background: var(--bg-elevated);
  border-radius: 4px;
  border: 1px solid var(--accent-blue);
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.title {
  font-size: var(--fs-md);
  font-family: var(--font-mono);
  color: var(--accent-blue);
}

.label {
  font-size: var(--fs-sm);
  color: var(--text-dimmed);
  font-family: var(--font-mono);
}

.coordText {
  font-family: var(--font-mono);
  font-size: var(--fs-md);
  color: #aaa;
}

.deleteBtn {
  background: #331111;
  color: var(--accent-orange);
  border: 1px solid var(--accent-orange);
  border-radius: 4px;
  padding: 4px 8px;
  font-family: var(--font-mono);
  font-size: var(--fs-sm);
  cursor: pointer;
  margin-top: 4px;
}
